body {
  font-family: sans-serif;
}

p {
  color:#9DBCD4;
  font-size: 2em;
}

p::first-letter{
  font-size: 3em;
  color: yellow;
}

p::first-line{
  background-color: red;
}

p::selection{
  background-color: yellow;
  color: black;
}
