body {
  font-family: sans-serif;
  min-height: 300vh;
}

.page-header {
  padding: 10px 20px;
  border-bottom: 1px solid black;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  box-shadow: 0px -32px 85px 0px rgba(0,0,0,0.66);
  background-color: white;
}

.list-item {
  display: inline-block;
}

main {
  margin-top: 80px;
}

p{
  text-shadow: -4px -2px 11px rgba(150, 150, 150, 0.9);
}